/* style.css */

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
  background: linear-gradient(-135deg, #14557a , 
#7acac3);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

input[type="file"],
input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px); /* Adjusted to account for padding and border */
}

button {
    background-color: #1e185a;
   
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #1e7e34;
}
